.header {
    padding: 1rem;
    background-color: #8447FF;
    color: #8CFFDA;
}

.header__branding {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.header__branding-icon {
    height: 24px;
    fill: inherit;
    margin-right: .5rem;
    fill: currentColor;
}

.header__branding-text {
    font-size: 24px;
    font-weight: 600;
}